[2020-02-05 22:27] diracdeltas opened #1 "project: investigate using demucs instead of spleeter"
https://github.com/facebookresearch/demucs may give better results

[2020-04-25 06:44] diracdeltas opened #2 "add screenshots"
opening an issue so i can host the images here

<img width="214" alt="Screen Shot 2020-04-24 at 11 32 46 PM" src="https://user-images.githubusercontent.com/549654/80273255-7a5e6380-8685-11ea-8110-bf62b6265bb4.png">
<img width="574" alt="Screen Shot 2020-04-24 at 11 34 03 PM" src="https://user-images.githubusercontent.com/549654/80273260-864a2580-8685-11ea-83e2-72fc0e49090b.png">
<img width="663" a

[2020-04-25 06:47] #2 closed, assigned to nobody

[2020-05-15 17:41] diracdeltas opened #3 "spleeter-native: windows jscript compliation error"
a few windows users are reporting this error, even though step 3 of https://github.com/diracdeltas/spleeter4max/tree/feature/native-spleeter#windows-steps resolved it for me (windows 10).

debugging tips:

1. make sure you did step 3 of https://github.com/diracdeltas/spleeter4max/tree/feature/native-spleeter#windows-steps and restart max/ableton after
2. make sure .JS is actually removed by typing

[2020-05-15 17:42] diracdeltas opened #4 "docker cp sometimes fails"
a few reports of docker cp failing, one of whom says it was fixed by moving the consolidated audio files into spleeter/. some of which are not fixed by this. :(

[2020-05-15 17:48] diracdeltas opened #5 "spleeter-native: macOS shows command not found"
several macOS users who seem to have successfully installed spleeter and can run it via command line say it fails with command not found in the max device.

debugging tip: type `which spleeter` into terminal to see where it's installed

[2020-05-15 17:57] diracdeltas opened #6 "max console shows node.script not found error"
2 people on max 8 have reported this.

1. possible that upgrading to max 8.1.x fixes it? i thought node.script was added in max 8.0 but could be wrong.

2. one person's console also showed this error, not sure if related: https://cycling74.com/forums/problem-with-standalone-app-error-message-%22unable-to-get-init-function-from-audio-lib!%22

[2020-05-15 18:07] diracdeltas commented on #3
if anyone here did successfully run spleeter-native on windows, i would love to know if you did this.

IIRC before i changed PATHEXT, i right-clicked on spleeter.js in the spleeter folder and set the default opener for .js files to be Notepad. i don't think that should matter though.

[2020-05-15 18:20] diracdeltas commented on #5
appears at least one windows user also saw this on windows

[2020-05-15 20:01] diracdeltas commented on #5
for macos, i think this might solve it (type into terminal):

[code]

someone reported their spleeter was installed at /Library/Frameworks/Python.framework/Versions/3.7/bin/spleeter instead of the usual place where it is for me

EDIT: confirmed this fixed at least one of the problems on macos!!

[2020-05-16 02:58] DJUnit27 opened #7 "Running spleeter on Windows requires Administrator privileges"
I've found a possible solution to the Max patch stalling on windows. After installing spleeter-native and testing it on Command Prompt, I realized it required CMD.exe to run as administrator for spleeter to work. Otherwise it would be stuck forever.

The solution I've found is to go to _C:\Program Files\Python37\Scripts_, right click on _spleeter_, select _Properties_, and under _Compatibility_ en

[2020-05-16 03:11] diracdeltas commented on #7
@DJUnit27 thanks a ton for pointing this out! i will add it to the docs.

[2020-05-16 03:12] diracdeltas commented on #7
FWIW though, I didn't run into this issue when I tried to install it on Windows 10. I think it probably has to do with how you installed the spleeter python library; if it's installed in such a way that it requires admin priveleges to run, the max patch will also require admin privileges.

[2020-05-16 03:15] diracdeltas commented on #7
Also out of curiosity, what error did you see before you changed it to run as admin?

[2020-05-16 03:22] DJUnit27 commented on #7
It's not giving me an error, it just stays stuck waiting. If I add --verbose to the command, it takes about 10 seconds to start generating output when running as admin, while it never outputs when not run as admin.

[2020-05-16 03:51] Eziant opened #8 "spleeter-native on Windows fails with command not recognized"
Spleeter wont do anything even though I'm pretty sure I followed the instructions correctly. I have spleeter set to have admin privileges and I've done the .js delete.
![Problems with spleeter](https://user-images.githubusercontent.com/65434989/82109733-02bcab00-96fe-11ea-99f4-67d70cbc4fda.PNG)

**Info:**
 - Spleeter Native
 - OS: Windows 10 Pro
 - Ableton version Live 10 Trial
 - Max version 8.13

[2020-05-16 14:06] lil-queazy commented on #8
Howdy Partner(s),

This is assuming you're not using Docker as you're using the native version of spleeter. My first point of reference is Azuki's Bandcamp:
https://azuki.bandcamp.com/merch/max-for-live-stem-splitter-spleeter

That page has a hyperlink that will redirect you to the native spleeter Github page, which will in turn redirect you to the installation instructions via another link. That

[2020-05-16 19:42] diracdeltas commented on #8
thanks a lot @lil-queazy!

@Eziant assuming ffmpeg is properly installed as lil-queezy said above, another thing to test is that spleeter runs in CMD.exe. if you open CMD.exe and type `spleeter -h` it should show usage instructions.

[2020-05-16 19:43] diracdeltas commented on #5
i think this is solved on macos, windows issue is https://github.com/diracdeltas/spleeter4max/issues/8

[2020-05-16 19:43] #5 closed, assigned to nobody

[2020-05-16 19:44] diracdeltas commented on #7
thanks, closing as this has been added to the spleeter-native instructions

[2020-05-16 19:44] #7 closed, assigned to diracdeltas

[2020-05-16 19:52] diracdeltas opened #9 "doesn't run on older CPUs that don't support AVX"
this is an upstream issue with Tensorflow, described here: https://github.com/deezer/spleeter/issues/351#issuecomment-621709197

[2020-05-16 20:30] DJUnit27 opened #10 "Replace the standard 11 kHz mode with 16 kHz"
The standard Spleeter algorithm cuts frequiencies harshly over 11 kHz. You can make it split frequencies up to 16kHz by changing "spleeter:4stems" to "spleeter:4stems-16kHz" in line 42 of spleeter.js.

![Screenshot (95)](https://user-images.githubusercontent.com/6503824/82129686-1d3c6600-978a-11ea-984d-148c8e16feb3.png)
![Screenshot (97)](https://user-images.githubusercontent.com/6503824/82129687-

[2020-05-16 22:29] Eziant commented on #8
Thanks to you beautiful people, I now have spleeter working. It was entirely my own fault. Getting both pip and ffmpeg situated into the PATH thing was my issue.

[2020-05-16 23:58] diracdeltas commented on #6
everyone who has this issue is on Max 8.0 so I'm updated the readme to require Max 8.1

[2020-05-16 23:59] #6 closed, assigned to diracdeltas

[2020-05-17 00:01] diracdeltas commented on #10
@DJUnit27 thanks for opening an issue, i was about to do so. i think i will add it as an option in the next major update. the reason being:

* the models were all trained on 11khz, so the ML part doesn't inherently seem like it'd be better with 16khz
* 16khz seems about 30% slower when i tested it

[2020-05-17 00:03] guicercal opened #11 "dictionary changed size during iteration"
**Describe the issue**
Im trying to run spleeter-native (wich uses an existing spleeter instalation, without docker) on macos catalina terminal, and im facing this issue:

Traceback (most recent call last):
  File "/usr/local/bin/spleeter", line 10, in <module>
    sys.exit(entrypoint())
  File "/Library/Python/3.7/site-packages/spleeter/__main__.py", line 54, in entrypoint
    main(sys.argv)
  Fi

[2020-05-17 00:05] diracdeltas commented on #11
does the same error appear if you enter the `spleeter separate -i ...` command in terminal?

[2020-05-17 00:06] diracdeltas commented on #11
also is this python 3.7 installed from Homebrew (https://docs.python-guide.org/starting/install3/osx/) or something else?

[2020-05-17 00:56] Tista17 opened #12 "spleeter error: js: can't find file main.js (windows 7)"
![image](https://user-images.githubusercontent.com/65473296/82133244-fe000180-97a6-11ea-9eb9-a6934fe1ca4c.png)

**Describe the issue**
A clear and concise description of what the bug is.

**Max Console Screenshots**
Add max console screenshots to help explain your problem. See here for instructions: https://github.com/diracdeltas/spleeter4max#help-its-still-not-working

**Info:**
 - Using spleeter

[2020-05-17 01:01] Tista17 commented on #8
Hi,

I get the following error when I type spleeter -h in cmd

![image](https://user-images.githubusercontent.com/65473296/82133281-9b5b3580-97a7-11ea-96f1-27846c21002e.png)

[2020-05-17 01:05] diracdeltas commented on #12
did you move spleeter.amxd out of the folder that it was in? it needs to stay in the same spleeter/ or spleeter-native/ folder that you downloaded it in. (you can move the folder, but not the device by itself)

[2020-05-17 01:12] diracdeltas commented on #8
@Tista17 that means the spleeter python library wasn't installed or wasn't installed in the correct path. did step 4 of https://github.com/diracdeltas/spleeter4max/tree/feature/native-spleeter#windows-steps succeed?

if so:

1.  maybe try @lil-queazy's advice above?
2. if `python -m spleeter -h` successfully shows you usage instructions in CMD.exe, then as a last resort, you could open the spleete

[2020-05-17 04:05] soda3x commented on #3
I have this issue and when changing the default opener to Notepad: clicking start in Ableton causes notepad to open and when I close Notepad I get an error saying my audio file was not found in the spleeter directory.

[2020-05-17 04:36] soda3x commented on #3
A restart fixes this issue. I will test again to see if changing the default opener matters. It may be worth adding to your readme that a restart is required after removing ".JS" from PATHEXT.

[2020-05-17 05:45] diracdeltas commented on #3
@soda3x thanks for the info. i didn't have to restart after changing this but will add it might be required!

[2020-05-17 05:45] diracdeltas commented on #3
@soda3x to be clear, did you mean restart your computer or restart ableton/max?

[2020-05-17 05:45] soda3x commented on #3
Restart computer.

[2020-05-17 05:51] diracdeltas commented on #3
thx, added to the readme

[2020-05-17 05:51] #3 closed, assigned to nobody

[2020-05-17 07:50] Tista17 commented on #12
I did move it out of the folder. I now copied the whole folder and now get the following error:

![image](https://user-images.githubusercontent.com/65473296/82138835-b4cca380-97e0-11ea-8827-07dadf352392.png)

thank you!

[2020-05-17 07:52] Tista17 commented on #8
heres what i'm getting in cmd:

![image](https://user-images.githubusercontent.com/65473296/82138879-feb58980-97e0-11ea-9d0c-ddf5266f1aa3.png)

![image](https://user-images.githubusercontent.com/65473296/82138916-4fc57d80-97e1-11ea-96a9-04d9b5eee3a7.png)

![image](https://user-images.githubusercontent.com/65473296/82139764-78e90c80-97e7-11ea-94cd-0d8a9290b6c2.png)

![image](https://user-images.git

[2020-05-17 18:08] diracdeltas commented on #12
@Tista17 are you on max 8.0 or earlier? unfortunately this only works with max 8.1 and above

[2020-05-17 19:15] diracdeltas commented on #8
@Tista17 as mentioned in https://github.com/diracdeltas/spleeter4max/issues/12#issuecomment-629837873 the node.script error means your version of max is too old

[2020-05-17 19:27] guicercal commented on #11
yes, actually i tried to run inside the ableton and after i tried to run on the terminal, with and without sudo

[2020-05-17 19:30] guicercal commented on #11
yes, my python version is 3.7.3, and i previously installed it from homebrew few months ago for other reasons..

[2020-05-17 20:01] diracdeltas commented on #11
i would try doing a brew update to 3.7.7 just to see if that makes a difference

[2020-05-17 20:07] ginni1 opened #13 "how to install in macOS. please clear this step by step"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-17 20:14] diracdeltas commented on #13
please read everything from https://github.com/diracdeltas/spleeter4max#before-you-start onwards. this covers macos instruction with docker.

if you don't want to use docker, download https://github.com/diracdeltas/spleeter4max/releases/tag/1.3-native instead and read https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/README.md#before-you-start

[2020-05-17 20:14] #13 closed, assigned to nobody

[2020-05-17 21:35] diracdeltas opened #14 "distribute with spleeter binaries"
https://github.com/gvne/spleeterpp looks pretty promising

[2020-05-18 00:32] dillonrag opened #15 "Command Not Found (but spleeter is symlinked)"
**Description:**
The Max for Live device gives a "bin/sh: command not found" error.

Spleeter is **definitely** symlinked. I can run it from the terminal with no problems (_without_ having to specify the full path to the binary). I just can't run it from within Live as a Max Device.

**Screenshot:**
<img width="933" alt="Screen Shot 2020-05-17 at 5 24 20 PM" src="https://user-images.githubusercont

[2020-05-18 00:59] diracdeltas commented on #15
what's the output of `which spleeter` in terminal?

[2020-05-18 01:01] diracdeltas commented on #15
as a quickfix i think you can open spleeter.js locally and replace `spleeter separate ...` in https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/spleeter.js#L42 with `python3 -m spleeter separate ...` (or python if that's what python3.7 is linked to)

[2020-05-18 02:00] dillonrag commented on #15
Problem has been resolved! User error.

I had the symlink pointing from the spleeter file in /site-packages instead of /bin (within python3.7). Not sure how I managed to make that mistake.

[2020-05-18 02:01] #15 closed, assigned to diracdeltas

[2020-05-18 02:01] dillonrag commented on #15
Thank you btw, this is amazing!

[2020-05-18 13:05] Bonsaimusic opened #16 "Where to put the spleeter folder. (Could not run docker) (MAC)"
Hey :)
I have been having a problem running spleeter in Ableton (MAC).
I know the READ ME says to **"unzip spleeter-native.zip and add the spleeter-native/ folder to your Places menu in Ableton"**. My question is: Where in places should I move the spleeter folder to? If I just add it in Ableton straight out of my downloads folder, it says "Could not run Docker".

I would really appreciate some hel

[2020-05-18 16:40] diracdeltas commented on #16
@Bonsaimusic it looks like you downloaded spleeter but are following the instructions for spleeter-native. if you look at the instructions for spleeter it tells you how to install docker: https://github.com/diracdeltas/spleeter4max#spleeter-for-max

[2020-05-18 16:40] #16 closed, assigned to diracdeltas

[2020-05-18 18:41] diracdeltas opened #17 "[macOS] spleeter doesn't auto-open files when finished on some systems"
i saw someone on youtube and someone else via email say that spleeter doesn't automatically open the folder with the files when its done running

[2020-05-18 19:58] #12 closed, assigned to diracdeltas

[2020-05-18 23:06] Tista17 commented on #8
thank you!

My Ableton is running 8.0 max but my stand alone max is 8.1.0. I need to figure out how to get Ableton to run the more current version.

[2020-05-18 23:48] gwenMoss commented on #8
@Tista17 you need Ableton 10.1.9 or newer, running a standalone max is not supported in earlier versions of Ableton 10. To set up Ableton to run the standalone max go into options > preferences > file folder > click "browse" under max application. by default i believe its located c:\program files\cycling '74\max 8\

[2020-05-19 00:52] gwenMoss opened #18 "[spleeter-native, windows] 'python -m spleeter' works but not 'spleeter'"
Ive installed python 3.7, ffmpeg, and pip and they all function properly in the command prompt, ive added the python, python script, and ffmpeg bin folders to my path variables and ive removed the .JS extension from PATHEXT. When using spleeter in command prompt im able to get it to run as expected with the command "python -m spleeter -h" but not "spleeter -h" alone. I also attempted using docker

[2020-05-19 03:19] Tista17 commented on #8
I updated my version of live, new error:

![image](https://user-images.githubusercontent.com/65473296/82280914-40634300-994d-11ea-9cd9-154c39a95bd7.png)

[2020-05-19 03:50] diracdeltas commented on #8
hmm have never seen that. maybe try restarting?

[2020-05-19 03:53] diracdeltas commented on #18
@gwenMoss thanks for the detailed info. all of those max console messages are expected. you can try this:

1. open spleeter.js in a text editor (it's located in the same folder as the max device)
2. find this line: https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/spleeter.js#L42
3. replace `spleeter separate` with `python -m spleeter separate`

save and retry running the ma

[2020-05-19 08:16] gwenMoss commented on #18
Thank you @diracdeltas I tried replacing the line you recommended. It doesnt throw an error prompt but continues running indefinitely and I dont see an instance of spleeter.exe open in my tray like I did before (I left it open for about ~30 minutes on a small chunk of audio to make sure it wasnt my PC being slow), the log looks like this:
![spleeter error message 2](https://user-images.githubuserc

[2020-05-19 08:40] julienneby opened #19 "After highlighting clip and pressing start, nothing happens and the start button disappears. On max it says "node.script: no such object""
**Did you read the installation instructions already?**
If not, read them BEFORE opening an issue. Go to https://github.com/diracdeltas/spleeter4max#before-you-start (spleeter) or https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/README.md#before-you-start (spleeter-native).

**Describe the issue**
A clear description of what problem you are having.

**Max Console Screenshot

[2020-05-19 10:19] diracdeltas commented on #19
This device doesn't support max 8.0, only 8.1 and above. I'm working on a VST version which will.

[2020-05-19 10:19] #19 closed, assigned to diracdeltas

[2020-05-19 10:26] diracdeltas commented on #18
it writes the output stems to the spleeter-native folder. weird that it says it can't find it. does it work maybe if you run it on an audio file that doesn't have `[...]` in the filename?

if it still doesn't work try deleting this line: https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/spleeter.js#L37. the files will no longer automatically open when spleeter is done, but y

[2020-05-19 18:25] AndreJim opened #20 "ERROR: could not find a version that satisfies the requirement tensorflow==1.15"
ERROR: Could not find a version that satisfies the requirement tensorflow==1.15.
2 (from spleeter) (from versions: none)
ERROR: No matching distribution found for tensorflow==1.15.2 (from spleeter)

[2020-05-19 18:34] diracdeltas commented on #20
what version of python are you using and on what operating system?

python --version will tell you

[2020-05-19 19:34] gwenMoss commented on #18
the brackets arent in the original file name, I think theyre being added by ableton after i trim and consolidate the audio. I tried a couple different audio files just in case though. After deleting the line spleeter still stalls indefinitely, I tried removing the "python -m" command before the "spleeter separate" and in conjunction with line 37 being removed it seems like it ran properly but no f

[2020-05-19 19:56] AndreJim commented on #20
Hi , it shows I'm using python 3.6.1 , I followed the instructions and installed python-3.7.7-amd64 , I don't know how to enable that version. I'm on win 8.1 /64

update: I just update the python path to 3.7.7 , on cmd shows python version 3.7.7 but still same error when try to install "pip install spleeter"

Thanks

[2020-05-19 20:51] diracdeltas commented on #20
maybe try https://stackoverflow.com/questions/38896424/tensorflow-not-found-using-pip?

[2020-05-19 21:48] AndreJim commented on #20
didn't work same error,  for only $1 I didn't expect this to work, thanks for your help.

[2020-05-19 23:08] AlexAdach commented on #8
yea i'm having the same issue. I confirmed I have spleeter installed and can access it from command prompt. I also tried enabling run as administrator on both python and spleeter.

![Spleeter Error](https://user-images.githubusercontent.com/32344954/82387070-05701680-9a04-11ea-9c4a-e304db55e207.PNG)

i'm getting this popup and the exact same error in max debug.
folderwatcher_beginproc: error 2 cal

[2020-05-19 23:17] Tista17 commented on #8
:( i restarted and got the same error:

![image](https://user-images.githubusercontent.com/65473296/82387566-9dfe9a80-99f4-11ea-89da-04776fef4658.png)

folderwatcher_beginproc: error 2 calling CreateFile
![image](https://user-images.githubusercontent.com/65473296/82388303-89bb9d00-99f6-11ea-8e9b-6de8e72b295f.png)

[2020-05-19 23:28] AlexAdach commented on #8
i ran this same command that was erroring out in the m4l patch in cmd prompt:

"D:/Music Production/Samples/Songs to Sample/02. Knocks Me Off My Feet.mp3" -o "D:\Music Production\spleeter-native" -p spleeter:4stems

and it worked. :/

[2020-05-19 23:44] julienneby commented on #19
i downloaded the updated version of Max, is there a way for the device to open up the version i downloaded instead of automatically opening up the 8.0.0 version?

[2020-05-19 23:46] diracdeltas commented on #19
i'm not sure, i think you have to configure ableton to use the updated version

[2020-05-20 01:02] guessimhuman commented on #18
having the same max for live error messages here. donated a little something for the effort

[2020-05-20 02:02] brvindead opened #21 "Error: Command Failed: Spleeter separate -i"
Python is installed, so is ffmpeg. I followed all the instructions for installing, used the command prompts to install spleeter and edited PATHs to include ffmpeg and pip. When I click start in the M4L device, however, I'm given the error message in the title.  Running spleeter as administrator. I attached a photo of the error messages I get in M4L. Any help would be greatly appreciated. Also I do

[2020-05-20 04:04] diracdeltas commented on #21
if you open CMD.exe and copy-paste the command from the max console that starts with `spleeter separate -i "D:/..."`, what do you get?

[2020-05-20 04:05] diracdeltas commented on #21
if that doesn't help, try https://github.com/diracdeltas/spleeter4max/releases/tag/1.3.1-native instead and it should show a more useful error in the max console

[2020-05-20 04:06] diracdeltas commented on #18
@guessimhuman what operating system are you on and what does your max console say? (screenshots please)

[2020-05-20 10:58] guessimhuman commented on #18
Win 10 Home. Ableton 10 and Max 8.1
Here a screenshot of the max console.
![Screenshot (5)](https://user-images.githubusercontent.com/65635277/82438636-a65ce100-9a99-11ea-81e8-8aaf65ab9c61.png)

Here a screenshot of the cmd.exe popping up after spleeter fails running. cant screenshot the whole thing cause it disappears again. don't know if that might help.
![Screenshot (2)](https://user-images.git

[2020-05-20 17:22] diracdeltas commented on #18
@guessimhuman just a thought, maybe the issue is due to your mp3 file being on a different drive than the spleeter install? i don't know enough about windows unfortunately to help more.

you could try running try https://github.com/diracdeltas/spleeter4max/releases/tag/1.3.1-native which will print more helpful errors to the max console.

[2020-05-21 10:39] codytowstik commented on #8
Are you getting similar output to this?

![help](https://user-images.githubusercontent.com/10625608/82550239-33507a80-9b2c-11ea-917d-ac8e64e206bd.PNG)

And have paths set like:

In environment variables (Windows search `view advanced system settings` -> `Environment Variables` -> `PATH` under either section)

![python](https://user-images.githubusercontent.com/10625608/82552095-76f8b380-9b2f-11ea-

[2020-05-21 11:00] codytowstik commented on #21
See this comment, is your output similar?

https://github.com/diracdeltas/spleeter4max/issues/8#issuecomment-632014956

[2020-05-21 13:15] AlexAdach commented on #8
![Spleeter Error 2](https://user-images.githubusercontent.com/32344954/82562603-8d106f00-9b43-11ea-8888-bcd9682a3a07.PNG)

[2020-05-21 16:19] codytowstik commented on #8
Whoops! Looks like you might have missed step #3:

open windows environment variable editor and remove .JS; from PATHEXT (https://support.shotgunsoftware.com/hc/en-us/articles/114094235653-Setting-global-environment-variables-on-Windows). on some systems you may need to restart for these changes to take effect.

`echo %pathext%` should not have `.JS`

[2020-05-21 16:41] AlexAdach commented on #8
oh im dumb. i was opening up Path and looking at the filepaths going "I don't see any extensions here, looks like its gone already".

Thanks will try later.

[2020-05-21 16:59] brvindead commented on #21
![CMD](https://user-images.githubusercontent.com/65637616/82584643-c6a4a280-9b62-11ea-8c9e-4c61eb7252e5.png)
 This is what CMD looks like when I paste that command into it.

[2020-05-21 17:15] brvindead commented on #21
I got it working! ffmpeg wasn't installed correctly.

[2020-05-21 17:15] #21 closed, assigned to nobody

[2020-05-21 21:12] codytowstik commented on #20
@AndreJim This happens if you don't have the 64 bit Python

edit: actually the stack overflow @diracdeltas posted mentions this

https://stackoverflow.com/a/41084963

Lmk if you can't get it to work still (it's worth figuring out, trust me!)

[2020-05-22 23:42] pinkeminem opened #25 ""newobj node.script: No such object appears" When spleeter.amxd runs"
**Did you read the installation instructions already?**
Yes, installed FFmpeg, python 3.7, running spleeter as admin, updated Max for live, running [spleeter native 1.3.1](https://github.com/diracdeltas/spleeter4max/releases/tag/1.3.1-native)

Spleeter -h returns positive results
python check-install.py does not

**Describe the issue**

Spleeter.amxd does not run when object is highlighted

Error

[2020-05-23 00:50] diracdeltas commented on #25
@pinkeminem nope, python does not need to be running. at a glance, i think the issue might be that you need to be on Live 10.1.x (with Max 8.1.x, which you appear to have).

[2020-05-23 03:15] pinkeminem commented on #25
Ahhh, understood. It said Live 10+ in the requirements so I assumed 1.0 would be fine. Thank you!

[2020-05-23 03:45] diracdeltas commented on #25
@pinkeminem i thought it would work as long as max is 8.1 or above, but this is making me think maybe not :/. it's a free update though so i'd be curious if updating fixes it.

[2020-05-24 09:55] Flatfootsam opened #26 "could not copy files from docker"
Hi guys, I downloaded Docker and Spleeter this morning and donated via Bandcamp.

I pulles an mp3 (also tried Wav) into Ableton and ran Spleeter and after a while I got the above error message. I tried putting the flie i was splitting in the Spleeter folder and also tried halving the size of it but no luck! Please help if you can.

Thank you.

Jon (win10 pro) Ableton 10.1.4

[2020-05-24 20:05] gfhsrtras opened #27 ""Error: Command Failed" due to missing DLL - Spleeter-Native for Windows 10"
After I have selected the clip and pressed start, the program buffers for a bit. It says it's running but then stops and comes up with an error message saying "Error: Command Failed" then a bunch of script after that listing out filenames etc.

I've opened it up in the max console and it says this:
node.script: Loaded the spleeter.js script

comment: doesn't understand "bang"

node.script: spleete

[2020-05-24 21:50] diracdeltas commented on #26
oof unfortunately i've hit a dead end trying to investigate this. no weird errors in the max console?

[2020-05-24 21:54] diracdeltas commented on #26
if you open the max console (see readme for instructions) it should show `Error running docker cp` and the actual docker error

[2020-05-24 22:00] diracdeltas commented on #27
looks like you're missing a DLL. if you follow all the steps in https://github.com/diracdeltas/spleeter4max/tree/feature/native-spleeter#windows-steps and then run the check-install.py command at the end, does it say anything failed?

[2020-05-24 22:00] #25 closed, assigned to diracdeltas

[2020-05-24 22:01] diracdeltas commented on #10
this is done in the latest release on the github releases page

[2020-05-24 22:01] #10 closed, assigned to diracdeltas

[2020-05-24 22:02] diracdeltas commented on #26
going to merge this as a duplicate of #4

[2020-05-24 22:02] #26 closed, assigned to diracdeltas

[2020-05-24 22:04] diracdeltas commented on #1
closing as i'm not looking into this in the near future

[2020-05-24 22:04] #1 closed, assigned to nobody

[2020-05-24 22:46] eplewis89 opened #28 "Please support python 3.8"
I think python 3.8 needs to be supported. Please rebuild with 3.8 support

Thanks!

[2020-05-24 23:29] diracdeltas commented on #28
Sorry this is an issue with https://github.com/deezer/spleeter, which is out of my hands. please open it with them.

[2020-05-24 23:29] #28 closed, assigned to nobody

[2020-05-25 11:03] gfhsrtras commented on #27
after check-install it says "python: can't open file 'check-install.py': [Errno 2] No such file or directory"

also after I type ffmpeg it says "'ffmpg' is not recognized as an internal or external comman, operable program or batch file."

[2020-05-25 20:04] diracdeltas commented on #27
you have to run the script in the directory where you downloaded the check-install.py file

so it appears the issue is ffmpeg wasn't actually installed correctly. did you do step 4 of https://github.com/adaptlearning/adapt_authoring/wiki/Installing-FFmpeg?

[2020-05-26 04:52] eplewis89 commented on #28
Ah, my mistake, thank you.

[2020-05-26 09:54] gfhsrtras commented on #27
Sorry i'm not sure what you mean when you say "run the script in the directory where you downloaded the check-install.py file". I'm a bit technologically retarded so I might need to you spell it out for me.

After step 4 of the ffmpeg instructions it says "SUCCESS: Specified value was saved." but still the same outcome after typing ffmpeg.

[2020-05-26 13:19] ovrdrvn opened #29 "Could Not Copy Files From Docker (with latest version)"
**Did you read the installation instructions already?**
If not, read them BEFORE opening an issue. Go to https://github.com/diracdeltas/spleeter4max#before-you-start (spleeter) or https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/README.md#before-you-start (spleeter-native).

**Describe the issue**
I select a whole audio file, click start and it seems to go through the motio

[2020-05-26 18:11] diracdeltas commented on #29
@ovrdrvn this seems to be the same issue as #26 which i'm stuck on. going to close this as a duplicate. :(

[2020-05-26 18:11] #29 closed, assigned to diracdeltas

[2020-05-26 18:12] diracdeltas commented on #29
sorry i mean https://github.com/diracdeltas/spleeter4max/issues/4

[2020-05-26 18:13] diracdeltas commented on #27
no worries, i think it's not necessary to run this anymore given that we have identified the problem is probably ffmpeg. if you open CMD.exe and type `where ffmpeg`, what does it show?

[2020-05-26 18:14] diracdeltas commented on #27
and also try typing `echo %PATH%` in CMD.exe to make sure wherever ffmpeg was installed is actually in your path

[2020-05-27 03:21] cold-inferno opened #30 "RuntimeError: dictionary changed size during iteration"
- Using spleeter-native
 - OS: Macos Catalina 10.15.4
 - Ableton 10.1.13
 - Max 8.1.3
 - Python 3.7.3

Homebrew, Python, FFmpeg and Spleeter all installed correctly as far as i can tell.
Checked the install using "python3 check-install.py" got no errors.

Error text in MAX
[code]

nb. most likely i've overlooked something, or did something wrong. Though i can't seem to figure out what.

[2020-05-27 03:52] diracdeltas commented on #30
dupe of https://github.com/diracdeltas/spleeter4max/issues/11. no idea why this is happening tbh :(. i'll investigate more and post in the other issue.

[2020-05-27 03:52] #30 closed, assigned to diracdeltas

[2020-05-27 03:53] diracdeltas commented on #11
seems likely this is an upstream tensorflow issue https://github.com/tensorflow/tensorflow/issues/33183

it may have been fixed in tensorflow 1.15 but i think spleeter (the deezer library) requires an earlier version :(

[2020-05-27 03:54] diracdeltas commented on #11
this comment suggests updating to python 3.7.5 fixes it: https://github.com/tensorflow/tensorflow/issues/33183#issuecomment-557915426

[2020-05-27 03:55] diracdeltas commented on #30
ok, i think this is fixable by updating python to 3.7.5 https://github.com/tensorflow/tensorflow/issues/33183#issuecomment-557915426

[2020-05-27 11:51] gfhsrtras commented on #27
After ffmpeg:
"'ffmpeg' is not recognized as an internal or external comman, operable program or batch file."

After echo %PATH%: "path\to\ffmpeg\bin;path\to\ffmpeg\bin;C:\Users\hugow\AppData\Local\Microsoft\WindowsApps;C:\ffmpeg;C:\Users\hugow\AppData\Local\Microsoft\WindowsApps;C:\Users\hugow\AppData\Local\Programs\Python\Python37\Scripts\;C:\Users\hugow\AppData\Local\Programs\Python\Python37";C

[2020-05-27 17:47] diracdeltas commented on #27
@gfhsrtras ah, i see the problem. instead of inserting literally `path\to\ffmpeg\bin` in the PATH, you have to find where FFMPEG was downloaded to and *insert the path to that* in the PATH variable. for instance `C:\Users\hugow\ffmpeg\bin` if you downloaded it to your home folder.

see the last sentence of https://github.com/adaptlearning/adapt_authoring/wiki/Installing-FFmpeg step 4

[2020-05-27 17:48] diracdeltas commented on #27
if you're having trouble figuring out the correct path feel free to ask for help in my discord: https://discord.gg/Y6wH5k

[2020-05-27 17:50] diracdeltas commented on #8
another reason some people might be running into this is because they inserted the literal string `path\to\ffmpeg\bin` in step 4 of https://github.com/adaptlearning/adapt_authoring/wiki/Installing-FFmpeg instead of the actual path to ffmpeg\bin. see https://github.com/diracdeltas/spleeter4max/issues/27#issuecomment-634831039

[2020-05-27 17:50] #27 closed, assigned to diracdeltas

[2020-05-28 13:36] Gildol opened #31 "Could not install brew ffmpeg."
xz-5.2.5.tar is missing from the brew ffmpeg installation.
is there a way to get it?

==> Downloading https://downloads.sourceforge.net/project/lzmautils/xz-5.2.5.tar
######################################################################## 100.0%Warning: Transient problem: timeout Will retry in 1 seconds. 3 retries left.
Warning: Transient problem: timeout Will retry in 2 seconds. 2 retries left.

[2020-05-28 18:09] diracdeltas commented on #31
could you copy-paste the output of brew install ffmpeg?

[2020-05-28 18:10] #9 closed, assigned to diracdeltas

[2020-06-03 21:56] diejung opened #32 "windows spleeter-native stuck in 'running'"
After a LOT of tinkering, I was able to actually get everything installed correctly (or so I thought) and I'm still having issues with getting this up and running. I'll run it in ableton and it'll do the "Spleeter is running, this may take a minute" with no luck. I've tried replacing the spleeter separate function with Python -m spleeter separate, no luck. I have both spleeter and the files im try

[2020-06-03 23:59] diracdeltas commented on #32
@diejung

1. 'no function set' is a benign error message and expected; it shouldn't cause any issues
2. in your first screenshot, you shouldn't be running pip install. instead download the check-install.py script to your downloads folder, then open CMD.exe, change into the downloads folder (using `cd` command), then run `python check-install.py`
3. what does `spleeter -h` show in CMD.exe?

if you

[2020-06-04 00:05] diracdeltas commented on #32
also if you copy the command in max console that starts with `spleeter separate -i...`, paste it in CMD.exe, then hit enter, what happens?

[2020-06-04 01:43] diejung commented on #32
Sorry for the late reply, this is what happens when I run my check install after actually installing the script, I'm not terribly knowledgeable on github or coding / scripting in general.

![image](https://user-images.githubusercontent.com/66368814/83705287-2b87e000-a5da-11ea-8edf-079f3adbf146.png)

this is spleeter -h:

![image](https://user-images.githubusercontent.com/66368814/83705310-3773a200

[2020-06-04 03:04] diracdeltas commented on #32
@diejung your last command is almost correct, just replace the ${} symbols. should look like this:

<img width="268" alt="Screen Shot 2020-06-03 at 8 04 13 PM" src="https://user-images.githubusercontent.com/549654/83710372-6e938480-a5d5-11ea-9681-0668ab03d53c.png">

[2020-06-04 03:20] diejung commented on #32
Took a little bit of time to try and get the VST up and running and that was even more confusing, I ran it and it seems it correctly sent the stems to the spleeter-native folder i have installed.

![image](https://user-images.githubusercontent.com/66368814/83711283-64c74c80-a5e8-11ea-9dc5-e6bc01a30671.png)

[2020-06-04 03:22] diejung commented on #32
I am in the discord btw if that makes troubleshooting easier! I'm die jung.

[2020-06-04 03:33] diejung commented on #32
something new that comes up when I try to re-run it in Ableton:

![image](https://user-images.githubusercontent.com/66368814/83711942-38accb00-a5ea-11ea-9277-341fac977b2e.png)

[2020-06-04 03:59] diracdeltas commented on #32
that's usually fixed by step 3 of https://github.com/diracdeltas/spleeter4max/tree/feature/native-spleeter#windows-steps.

if .JS is already removed from PATHEXT, i'm not sure what could be wrong here.

[2020-06-04 04:08] diejung commented on #32
js seemed to have reinstalled itself after trying to get the VST up and running, so I cleared that again so it no longer shows up in PATHEXT and rebooted. Tried again in Max with a different reference track and this is what came up:

![image](https://user-images.githubusercontent.com/66368814/83713947-0a7dba00-a5ef-11ea-84df-d51fe545ee61.png)

Maybe I have to just go the cmd route? Was hoping that

[2020-06-04 04:12] diejung commented on #32
WAIT! I found another troubleshooting tip to have spleeter.exe run as admin and now it's working fine and dandy. Thank you so much for the help! I think this can be closed now.

[2020-06-04 04:15] diracdeltas commented on #32
great!

[2020-06-04 04:15] #32 closed, assigned to diracdeltas

[2020-06-08 09:59] Groovenuts opened #33 "MacOS spleeter-native Error: Illegal Instruction"
Hey Legends!

Decided to have a crack at the native version, allthough it was outlined as harder, the part about it running slightly faster than dock version did it for me.

Have minimal experience with coding, zero with python, and first time max user.
Am sure I've done everything right but upon hitting the start button - python quits unexpectedly and I get (the attached screen shot) error messag

[2020-06-08 15:03] diracdeltas commented on #33
I think this is likely because your Mac is too old to support Tensorflow unfortunately: https://stackoverflow.com/questions/55226284/illegal-instruction-core-dumped-with-tensorflow-1-5 (#9). Sorry!

[2020-06-09 05:25] Groovenuts commented on #33
Nooooooooo! Is there nothing I can do? obviously except by a new mac

[2020-06-11 06:38] nedimhaveric opened #34 "spleeter-native FFMPEG error: no such file or directory"
**Did you read the installation instructions already?**

Yes

**Describe the issue**

Spleeter runs and opens the newly  created file for the stems.
No tracks in folder.
Folder is empty

**Max Console Screenshots**

![image](https://user-images.githubusercontent.com/22703277/84352900-29022900-ab8c-11ea-9efe-bf9314636544.png)

![image](https://user-images.githubusercontent.com/22703277/84352948-3a4

[2020-06-11 12:42] mastoppa opened #35 "macosx 10.11 native spleeter"
**Hello i am trying to use native version on macbook 0sx 10.11 el capitan
sorry "non technical user" here i wish i could use the docked version but i own an old macbook and do not want to upgrade osx now...
python default version 2.7.10
python 3 version 3.7.7
ableton 10.1 max 8.1
max error log:**
__node.script: Spleeter stderr: Traceback (most recent call last):
  File "/usr/local/lib/python3.7/si

[2020-06-11 22:27] diracdeltas commented on #34
at a glance, seems like the issue might be that ffmpeg doesn't have permission to access the files in `D:\\Program Files`. you could try moving the entire spleeter-native directory to a different folder (like somewhere in home). or you could enable spleeter/ffmpeg to run as admin, though offhand i'm not sure how to do that because i don't use windows.

another is to just use the spleeter docker in

[2020-06-11 22:28] diracdeltas commented on #35
did you make sure to install ffmpeg with `brew install ffmpeg` before running? (see instructions)

[2020-06-11 22:30] diracdeltas commented on #35
actually i just looked at your actual error and it appears to be this: https://github.com/tensorflow/tensorflow/issues/24642

unfortunately i think this means your MacOS is too old to run tensorflow (see #9), which spleeter requires :(.

[2020-06-12 01:33] nedimhaveric commented on #34
Seems that part of issue was that the INPUT FILE name was too long.

After shortening new error appeared: [winerror5] access is denied

Attempted to fix by running command prompt as admin and running pip install pydictionary
error persisted

if anyone can point me in the write direction please do
not sure which program is supposed to have permission or even what permission it needs

![1](https://u

[2020-06-12 03:09] diracdeltas commented on #33
unfortunately i don't think so unless your laptop supports docker :(

[2020-06-12 03:09] #33 closed, assigned to diracdeltas

[2020-06-12 03:11] diracdeltas commented on #34
does this help? https://github.com/diracdeltas/spleeter4max/issues/7

[2020-06-12 03:12] diracdeltas commented on #34
if not you may have to aslso enable run as administrator on python itself and maybe also ffmpeg

[2020-06-12 05:10] nedimhaveric commented on #34
After following the instructions in #7 it worked without a hitch!

Thanks for all the help! <3

[2020-06-12 08:44] mastoppa commented on #35
oh thanks, any workaround to install maybe a older version of tensorflow...?

[2020-06-12 12:25] Groovenuts commented on #33
What about the VST3 Version?

On Jun 12, 2020, at 1:09 PM, yan <notifications@github.com> wrote:

﻿

unfortunately i don't think so unless your laptop supports docker :(

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/diracdeltas/spleeter4max/issues/33#issuecomment-643039901>, or unsubscribe<https://github.com/notificati

[2020-06-12 15:49] diracdeltas commented on #33
it also uses tensorflow so i'm skeptical, but you could try it!

[2020-06-12 15:51] diracdeltas commented on #35
unfortunately spleeter currently requires that version of tensorflow, so while it may be possible, it could be a lot of work. see suggestions in https://github.com/diracdeltas/spleeter4max/issues/33. going to close this since it's the same as that issue.

the docker version might work here. also the vst3 could be an option.

[2020-06-12 15:51] #35 closed, assigned to diracdeltas

[2020-06-12 15:51] diracdeltas commented on #34
awesome!

[2020-06-12 15:51] #34 closed, assigned to diracdeltas

[2020-06-13 19:02] AYAmusic opened #36 "Error: No module named 'numba.decorators'"
Hey guys! So I've installed spleeter-native as per the instructions, and I keep getting this error when trying to extract stems:

<img width="853" alt="Screen Shot 2020-06-13 at 12 03 09 PM" src="https://user-images.githubusercontent.com/66884185/84576958-1e0eea80-ad7e-11ea-8a60-42aeec3d7dfb.png">

Does anyone know what's happening? I apologize if this is an obvious error, I'm not very skilled in

[2020-06-13 19:39] gorkemozdemir commented on #36
Somehow it works if you downgrade the numba to a previous version. I keep the same error on current version of numba (0.50).
On the terminal you need to execute: pip3 install numba==0.48.0
Although it might not be a sustainable solution, I hope it helps!

Yan, I would like to send my gratitudes & a sincere thank you.

[2020-06-13 19:44] AYAmusic commented on #36
Gork,

amazing, that fixed it. tysm for the fast response, and yes Yan tysm!

[2020-06-13 22:00] diracdeltas commented on #36
thanks all! glad this got fixed without me doing anything. :P

[2020-06-13 22:01] #36 closed, assigned to diracdeltas

[2020-06-13 22:20] duetosymmetry commented on #36
This was fixed in upstream [librosa](https://github.com/librosa/librosa), in their PR [#1107](https://github.com/librosa/librosa/pull/1107). Somebody should ping the librosa devs to update their package on PyPI and conda, and you can require a new minimum version of librosa.

[2020-06-14 05:20] marcelomandaji commented on #8
**EDIT: [SOLVED]**

I had to revert numba and llvmlite to older version as described here: https://github.com/deezer/spleeter/issues/419

just execute the commands:

[code]

----------------------------------------------------------------

hi, here is outputting command failed too but i already followed all steps and all the commands are running in CMD.

i am also running spleeter as admin too.

t

[2020-06-14 06:05] diracdeltas commented on #8
@marcelomandaji you're running into this issue: #36

[2020-06-15 23:15] FonzSolo opened #37 "Windows Script Host"
**Did you read the installation instructions already?**
If not, read them BEFORE opening an issue. Go to https://github.com/diracdeltas/spleeter4max#before-you-start (spleeter) or https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/README.md#before-you-start (spleeter-native).

**Describe the issue**
A clear description of what problem you are having.
Get this syntax Error aft

[2020-06-15 23:56] diracdeltas commented on #37
this is almost always due to step 3 not being done correctly in https://github.com/diracdeltas/spleeter4max/tree/feature/native-spleeter#before-you-start. you may have to reboot after doing it.

[2020-06-17 00:43] #37 closed, assigned to diracdeltas

[2020-06-17 00:48] FonzSolo opened #38 "Error in Ableton"
**Did you read the installation instructions already?  Yes
If not, read them BEFORE opening an issue. Go to https://github.com/diracdeltas/spleeter4max#before-you-start (spleeter) or https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/README.md#before-you-start (spleeter-native).

**Describe the issue**
After Pressing Start, It looks like spleeter is going to run and then I ge

[2020-06-17 00:53] diracdeltas commented on #38
can you post a screenshot of the max console as mentioned in https://github.com/diracdeltas/spleeter4max#help-its-still-not-working?

[2020-06-19 03:14] mynzcxk opened #39 "noda.script no such object - start button disappears"
**Did you read the installation instructions already?**
yes

**Describe the issue**
start button disappears - "noda.script no object found"

**Max Console Screenshots**
<img width="775" alt="Screen Shot 2020-06-18 at 8 13 08 PM" src="https://user-images.githubusercontent.com/67134249/85093109-28771d00-b1a0-11ea-9931-f0b17371680b.png">

**Info:**
 - Using spleeter or spleeter-native? native
 - OS:

[2020-06-19 05:05] diracdeltas commented on #39
sorry, this software isn’t compatible with ableton less than 10.1. this is
mentioned in the instructions.

On Thu, Jun 18, 2020 at 20:14 mynzcxk <notifications@github.com> wrote:

[2020-06-19 05:37] #39 closed, assigned to diracdeltas

[2020-06-19 07:14] federico-pepe commented on #38
I got the same error: here's the Max's console output

[code]

But I solved it by updating the Folder's **Sharing and Permissions** preferences: just select the folder, hit `cmd+i` and check that the current user has Read/Write permission

[2020-06-19 15:26] toadeh opened #40 "Unable to Run Ableton 10.1.15 (Standard)"
**Did you read the installation instructions already?**  Yes
If not, read them BEFORE opening an issue. Go to https://github.com/diracdeltas/spleeter4max#before-you-start (spleeter) or https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/README.md#before-you-start (spleeter-native).

**Describe the issue**
Added the item to the places, drag it onto an audio channel and it says

[2020-06-19 17:12] diracdeltas commented on #40
This is expected cuz Ableton Standard doesn't have Max by default and this is a Max device.

[2020-06-19 17:12] #40 closed, assigned to diracdeltas

[2020-06-19 20:12] FonzSolo commented on #38
node.script: Loaded the spleeter.js script
comment: doesn't understand "bang"
node.script: spleeter separate -i "I:/Ableton/Live Recordings/My_Projects/Muzik/Curtis Mayfield Project/Samples/Processed/Consolidate/Tripping Out 1 [2020-06-18 193550].wav" -o "C:\Users\asmed\Desktop\Spleeter\spleeter-native" -p spleeter:4stems-16kHz
js: js: no function set [main.js]
node.script: Error: Command failed:

[2020-06-20 13:57] FonzSolo opened #41 "Spleeter Not Working"
**Did you read the installation instructions already?**
If not, read them BEFORE opening an issue. Go to https://github.com/diracdeltas/spleeter4max#before-you-start (spleeter) or https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/README.md#before-you-start (spleeter-native).

**Describe the issue**
After clicking the start button I receive this in the output log

node.script

[2020-06-22 02:25] hemenge133 opened #42 "Spleeter works in cmd, Spleeter4Max throws error"
Here's the m4l output

Traceback (most recent call last):
  File "C:\Users\H\AppData\Local\Programs\Python\Python37\Scripts\spleeter-script.py", line 11, in <module>
    load_entry_point('spleeter==1.5.3', 'console_scripts', 'spleeter')()
  File "c:\users\h\appdata\local\programs\python\python37\lib\site-packages\spleeter\__main__.py", line 54, in entrypoint
    main(sys.argv)
  File "c:\users\h\a

[2020-06-22 20:16] diracdeltas commented on #41
Hmm strange that it doesn't say any informative errors. Can you try the following to help with debugging?

1. download https://raw.githubusercontent.com/diracdeltas/spleeter4max/feature/native-spleeter/check-install.py to your home directory
2. open CMD.exe (and change into your home directory if needed)
3. run `python check-install.py` and post the output here

[2020-06-22 20:18] diracdeltas commented on #38
closing this in favor of https://github.com/diracdeltas/spleeter4max/issues/41

[2020-06-22 20:18] #38 closed, assigned to diracdeltas

[2020-06-22 20:24] diracdeltas commented on #42
i assume this is just using `spleeter separate -i`? can you check `where spleeter` in command line and post the result?

[2020-06-22 20:26] diracdeltas commented on #42
spleeter4max just calls out to the command line, so if you want to try a different command and see if it works, you can edit this line in the spleeter.js file (should be in the same folder as the spleeter device): https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/spleeter.js#L42

[2020-06-22 21:44] hemenge133 commented on #42
@diracdeltas  spleeter is in:
AppData\Local\Programs\Python\Python37\Scripts\spleeter.exe
Could spleeter possibly need elevation for certain folders?

[2020-06-22 22:04] diracdeltas commented on #42
it might need to run as admin for some folders. see https://github.com/diracdeltas/spleeter4max/issues/7

[2020-06-23 06:04] hemenge133 commented on #42
Works. Thank you! I thought my issue was different from #7 because of the error code.

[2020-06-23 06:04] #42 closed, assigned to nobody

[2020-06-23 15:43] FonzSolo commented on #41
Hello.  I have since got spleeter working.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: yan <notifications@github.com>
Sent: Monday, June 22, 2020 4:16 PM
To: diracdeltas/spleeter4max
Cc: FonzSolo; Author
Subject: Re: [diracdeltas/spleeter4max] Spleeter Not Working (#41)

Hmm strange that it doesn't say any informative errors. Can you try the following to hel

[2020-06-23 19:22] #41 closed, assigned to diracdeltas

[2020-06-27 17:56] ovrdrvn opened #43 "Could Not Copy Files From Docker"
**Did you read the installation instructions already?**
If not, read them BEFORE opening an issue. Go to https://github.com/diracdeltas/spleeter4max#before-you-start (spleeter) or https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/README.md#before-you-start (spleeter-native).

**Describe the issue**
Read the material but still no go. Spleeter works on my machine in terminal.

[2020-06-29 07:03] diracdeltas commented on #43
how exactly did you install `ffmpeg` and if you type `ffmpeg` in terminal, what version does it show?

[2020-06-29 14:39] ovrdrvn commented on #43
I did the conda install of spleeter

ffmpeg version 4.2 Copyright (c) 2000-2019 the FFmpeg developers
  built with clang version 4.0.1 (tags/RELEASE_401/final)
  configuration: --prefix=/Users/xxxx/anaconda3 --cc=x86_64-apple-darwin13.4.0-clang --disable-doc --disable-openssl --enable-avresample --enable-gnutls --enable-gpl --enable-hardcoded-tables --enable-libfreetype --enable-libopenh264 --enab

[2020-06-29 14:56] ovrdrvn commented on #43
It's the file type. I guess it can't process all types as I put in a .flac and it worked fine. I guess we can close this and I'll research which audio types work...unless you still think this is a bug

[2020-06-29 16:28] diracdeltas commented on #43
@ovrdrvn got it. you might be able to get it to process that AIF with ffmpeg 4.3, but not sure. i'll close this for now. thanks!

[2020-06-29 16:28] #43 closed, assigned to diracdeltas

[2020-07-07 12:20] johnnybigoode-zz opened #44 "Leave install instructions using Miniconda and fix the shortcut within Max4Live"
I see many users frustrated with the install part of the plug-in, but everything can be easily streamlined if you use Miniconda.

`conda install -c conda-forge spleeter`

That's from the Spleeter github, can't get easier than that.

The problem arrises that spleeter won't be available in path, because that's how conda works.

So the plug-in would need a field to point to conda and to process audio

[2020-07-07 18:44] diracdeltas commented on #44
@johnnybigoode i welcome a pull request to add conda instructions to the readme. i did try setting up miniconda on both windows and mac but ran into some issues that were a bit technical to work around.

btw - i no longer recommend the docker method since it's significantly slower than the native install. i would guess conda is slightly slower than native but probably much faster than docker.

[2020-07-07 19:32] johnnybigoode-zz commented on #44
I'll try to come up with a more streamlined approach, but I'm not familiar
with the max for love part

On Tue, Jul 7, 2020, 15:44 yan <notifications@github.com> wrote:

[2020-07-08 02:30] Arafullahi commented on #31
i have same issue what ever install using brew
[code]

[2020-07-09 20:08] kional opened #45 "Can't seem to get past this error"
OS: Windows 10 pro
Software: Ableton 10.1
Max version 8.13
Spleeter Native

Hello Everyone

For some reason spleeter isn't working correctly for me. I believe I followed all the steps correctly and even checked to make sure all the steps were taken. I have also changed the properties in the spleeter.exe located in the scripts folder to run as an administrator, but still no luck.
Please help.

![33

[2020-07-09 22:25] diracdeltas commented on #45
this is saying that Max cannot find the spleeter program. did you try enabling run as admin? #8 may have some useful tips.

also if you open CMD.exe and type 'where spleeter' it should show where spleeter was installed.

[2020-07-09 22:27] diracdeltas commented on #45
going to close this as a duplicate of #8; please post in that thread instead since it has more windows users. i would try enabling run as admin on both spleeter and python; and then if that doesn't work, try https://github.com/diracdeltas/spleeter4max/issues/8#issuecomment-643720214

[2020-07-09 22:27] #45 closed, assigned to diracdeltas

[2020-07-10 13:19] kional commented on #8
Sorry for writing a duplicate issue initially. I have tried to problem solve myself and still have been running into the same issue. I will try to post as many screenshots as possible. I can't seem to figure out where I went wrong with trying to make this m4l device to work with the spleeter native procedure. I have also tried altering some of the steps to take based off the comments above. thanks

[2020-07-10 17:26] diracdeltas commented on #8
@kional :

1. what does `spleeter -h` by itself show in CMD.exe?
1. did you already try running `pip install numba==0.43.0` and `pip install llvmlite==0.32.1` as suggested above?

[2020-07-13 03:17] Densle opened #46 "ffmpeg Binary Not Found"
Howdy, so I have Spleeter installed natively since I couldn't seem to get Docker to work and it was all well and good.

But recently, I've been unable to run it. Anytime I try, I spits back this error.
![image](https://user-images.githubusercontent.com/68211369/87266165-927a9d80-c492-11ea-9d8e-7186fbba13c2.png)
And then proceeds to re-run.

But I have ffmpeg properly installed with the path set.
!

[2020-07-13 05:06] diracdeltas commented on #46
it's interesting that it says access denied in the console. maybe try enabling run as administrator on spleeter / python / ffmpeg?

[2020-07-13 05:07] diracdeltas commented on #46
also see this thread: https://github.com/diracdeltas/spleeter4max/issues/34#issuecomment-642962522. the error you're getting looks somewhat similar.

weird that it used to work though!

[2020-07-13 21:29] Densle commented on #46
So, I tried running everything with admin but unfortunately that yields the same results.

![image](https://user-images.githubusercontent.com/68211369/87355311-2d748580-c52e-11ea-847b-92b22a1ce3e3.png)

[2020-07-13 21:32] diracdeltas commented on #46
is spleeter/ffmpeg/etc. installed on the G:/ drive? if not, maybe try moving your .mp3 to the same drive?

[2020-07-13 21:40] Densle commented on #46
So I tried moving the audio file to the same drive (M:), no dice.
Ffmpeg was original in C:, I even tried moving it to the same drive and editing the path again but no dice.

[2020-07-18 12:50] mastoppa opened #47 "Spleeter succesfully installed on "EL CAPITAN" !"
Hi i just want to inform that i was able to succesfully install and use spleeter on my macbook (2012) with OSX 10.11.6 El Capitan
I first tried to install with homebrew but that was a nightmare.
Then i tried with Docker , the trick is simply to install the latest Docker version supported by your osx version in my case it was 18.06.1

[2020-07-20 16:41] diracdeltas commented on #47
glad to hear it!

[2020-07-20 16:41] #47 closed, assigned to diracdeltas

[2020-07-27 10:44] oscarhoare13 opened #48 ""pip3 install spleeter" doesn't work because python installed 3.8 and not 3.7"
Doing the native version on a mac. Everything was going well until I used "pip3 install spleeter" (No matching distribution found for spleeter).

So I tried "python3 -m pip install spleeter" and got the same error. Tried "pip3 --version" and it said I have python 3.8. I don't know why that'd be the case given I followed every other step to get 3.7.

I've never coded in my life, anyone got any hint

[2020-07-27 12:15] #48 closed, assigned to diracdeltas

[2020-07-27 12:15] oscarhoare13 commented on #48
Worked it out. Had 3.8 installed from a while back, changed the pip command to pip3.7 and bam, off it went.

[2020-07-27 16:19] diracdeltas commented on #48
@oscarhoare13 i noticed this too. i added a command in the instructions recently to downgrade to 3.7; lmk if that didn't work for you.

[2020-07-27 16:24] diracdeltas commented on #48
if you're doing a fresh install:

[code]

if you already installed 3.8, i think you can just do

[code]

[2020-07-28 06:52] oscarhoare13 commented on #48
thanks for the heads up, got that shit fixed.

new issue lol. i ran it once for a 3 minute song, worked perfectly, took about 1 1/2 mins. yet to have it work again which makes doesn't make much sense. i leave it on, by 20 mins in i opt to restart my computer because everything runs super slow and it doesnt look like the program is finishing. do some songs fare worse than others or is there somethi

[2020-07-28 11:08] oscarhoare13 commented on #48
aaannd worked this one out as well, was running spleeter on uncropped songs from albums so i assume it was doing the whole thing and not the segment i had cut

[2020-08-08 00:15] LemonEar opened #49 "MacOS: spleeter command not found"
I followed all the instructions for installing Spleeter native found at the page (https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/README.md#spleeter-for-max-native-version)

It seemed to install just fine. I put the audio that I want to split onto a track, and from my Places drag the spleeter-native.amxd onto the clip. I have tried all the usual stuff (restarting the compu

[2020-08-10 19:08] diracdeltas commented on #49
@LemonEar the relevant line in the errror log is "spleeter: command not found". i assume you are on macos?

try opening Terminal and typing `spleeter -h` to verify that it's installed.

[2020-08-10 19:09] diracdeltas commented on #49
also make sure you have installed python 3.7.x with the instructions at https://github.com/diracdeltas/spleeter4max/tree/feature/native-spleeter#macos-steps:

`python3 --version`

[2020-08-12 17:41] LemonEar commented on #49
Yes, I am on MacOS. I opened Terminal and entered the command you instructed. I got this:

Earles-MacBook-Pro:~ monroe$ spleeter -h
-bash: spleeter: command not found
Earles-MacBook-Pro:~ monroe$

So it seems that I do not have Spleeter properly installed. Weird, I went through with everything in the instructions. I have another application on my Mac that specifically says to use Python 2.7.13. So

[2020-08-12 18:00] diracdeltas commented on #49
another way to set this up is to have `python` aliased to python 2.7 and `python3` aliased to python 3.7. spleeter calls out to python3. good luck!

[2020-08-13 17:45] LemonEar commented on #49
I decided to try to plow through and get it done yesterday, and posted here (or at least thought I had) a big update on what I ran into. I don't know why it didn't post. I'll try to duplicate it today and post here. Frustrating!

[2020-08-13 18:04] LemonEar commented on #49
Ok, so I went through all of the macOS steps, starting with installing homebrew. A few error messages showed up in red, so hopefully this will give a clear sense of what the solution is.

Here is the full text of what Terminal gave me:

Last login: Wed Aug 12 12:22:15 on ttys000
Earles-MacBook-Pro:~ monroe$
  [Restored Aug 13, 2020 at 10:49:29 AM]
Last login: Thu Aug 13 09:45:28 on console
Restore

[2020-08-13 18:19] diracdeltas commented on #49
seems like this could be the problem:

[code]

so i would first try `brew unlink python@3.8` and then `brew link --overwrite python@3.7`

after doing this, check `python3 --version` in terminal. if it worked you should see 3.7.x

[2020-08-13 19:25] LemonEar commented on #49
It returned this: -bash: python3: command not found

Full Terminal session follows:
Last login: Thu Aug 13 10:49:29 on ttys000
Earles-MacBook-Pro:~ monroe$ brew unlink python@3.8
Unlinking /usr/local/Cellar/python@3.8/3.8.5... 24 symlinks removed
Earles-MacBook-Pro:~ monroe$ brew link --overwrite python@3.7
Warning: python@3.7 is keg-only and must be linked with --force

If you need to have this s

[2020-08-13 20:57] diracdeltas commented on #49
try `brew link --force python@3.7` again. if it's still not found then run `echo 'export PATH="/usr/local/opt/python@3.7/bin:$PATH"' >> /Users/monroe/.bash_profile` as suggested in the output

[2020-09-02 23:04] Pospik2705 opened #50 "pip install spleeter==1.5.3 doesnt WORK"
hI IM TRYING INSTAL NATIVE SPLEETER BUT  by step 4
https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/README.md#spleeter-for-max-native-version
 in cmd i have this message and i cant go thought.

C:\Users\Pospik>pip install spleeter==1.5.3
'pip' is not recognized as an internal or external command,
operable program or batch file.

[2020-09-02 23:19] Pospik2705 commented on #50
C:\WINDOWS\system32>pip install spleeter==1.5.3
'pip' is not recognized as an internal or external command,
operable program or batch file.

C:\WINDOWS\system32>

[2020-09-02 23:20] diracdeltas commented on #50
did you install python first and make sure it's in your path? `where python` in CMD.exe will say where it's installed.

[2020-09-02 23:36] Pospik2705 commented on #50
... yeah i installed it but ..dont know

I moodified it and checked most of points and now, it is running .. so

[2020-09-02 23:40] Pospik2705 commented on #50
now, i have this problem

  C:\WINDOWS\system32>spleeter -h
'spleeter' is not recognized as an internal or external command,
operable program or batch file.

[2020-09-03 09:43] Pospik2705 commented on #50
Im very sorry , Im noob, i dont really dont know what you mean .. I normaly instaled phyton
to /user /pospik/ appdata/ local /programs /phyton ...

[2020-09-03 10:17] Pospik2705 commented on #50
https://datatofish.com/add-python-to-windows-path/

[2020-09-03 16:47] diracdeltas commented on #50
1. open CMD.exe
2. type `where python`
3. type `where spleeter`
4. post screenshot of the output

[2020-09-03 19:22] hasser964 commented on #50
Hey I get a similar thing! Just paid for the m4l device on bandcamp. Have followed all native install instructions and fully upgraded python using the pip function.

"ERROR: Could not find a version that satisfies the requirement spleeter (from versions: none)
ERROR: No matching distribution found for spleeter"

When typing "where python" + "where spleeter", I get this:

https://gyazo.com/335133e4

[2020-09-03 19:40] diracdeltas commented on #50
@hasser964 your system seems to be using python 3.8 instead of 3.7 (at least that is what `python` is pointing to). see the readme instructions to specifically install 3.7: https://github.com/diracdeltas/spleeter4max/tree/feature/native-spleeter#before-you-start

if you already installed 3.7, make sure it's before 3.8 in your PATH: https://www.architectryan.com/2018/03/17/add-to-the-path-on-window

[2020-10-21 01:16] diracdeltas commented on #8
@kional someone else today had the same issue on windows (failed with "command not recognized" in max, but spleeter and ffmpeg were both correctly installed). they said it fixed itself when they quit ableton and restarted. :/

[2020-10-21 01:30] diracdeltas commented on #8
@kional actually seems like the trick was to run spleeter.exe as admin

[2020-11-15 21:16] maltese454 opened #51 "same issue as #41 exactly but i dont see how to fix the issue"
**Did you read the installation instructions already?**
If not, read them BEFORE opening an issue. Go to https://github.com/diracdeltas/spleeter4max#before-you-start (spleeter) or https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/README.md#before-you-start (spleeter-native).

**Describe the issue**
A clear description of what problem you are having.

**Max Console Screenshot

[2020-11-15 21:47] maltese454 commented on #51
node.script: Loaded the spleeter.js script
node.script: spleeter separate -i "C:/Users/blake/Desktop/bassline musicv50.wav" -o "C:\Users\blake\Desktop\spleeter-native" -p spleeter:4stems-16kHz
node.script: Error: Command failed: spleeter separate -i "C:/Users/blake/Desktop/bassline musicv50.wav" -o "C:\Users\blake\Desktop\spleeter-native" -p spleeter:4stems-16kHz
Traceback (most recent call last):

[2020-11-15 22:22] maltese454 commented on #51
also wanna say even though i cant get it to work i had so much fun setting it up

[2020-11-16 03:18] diracdeltas commented on #51
hi! try the instructions in
https://github.com/tensorflow/models/issues/9200#issuecomment-687538656 to
downgrade numpy to a supported version

On Sun, Nov 15, 2020 at 14:23 maltese454 <notifications@github.com> wrote:

[2020-11-16 07:29] maltese454 commented on #51
just downgraded sadly did not work but got screenshots
![Capture1](https://user-images.githubusercontent.com/74512194/99223965-5043ce80-279a-11eb-9eb6-461c2060a53c.PNG)
![Capture2](https://user-images.githubusercontent.com/74512194/99223974-52a62880-279a-11eb-8ce1-0e95d242db62.PNG)
![Capture3](https://user-images.githubusercontent.com/74512194/99223983-546fec00-279a-11eb-9527-baf9fcc22828.PNG)

[2020-11-16 07:57] maltese454 commented on #51
oh my god its working holy shit i had to reinstall a older version of scipy thankyou so much for making this its going to change the way i analyze songs forever

[2020-11-16 19:24] #51 closed, assigned to diracdeltas

[2020-11-16 19:44] diracdeltas commented on #51
yay!

[2020-12-08 22:03] tunonnaemiliana opened #52 "windows: command failed"
![culomax](https://user-images.githubusercontent.com/38960595/101546260-d40f6600-39a8-11eb-9c6e-8d12b05d77b6.PNG)

I'm on windows and I am unable to run spleeter-native.

Spleeter per se seems to be running fine
![spleeter is fine7](https://user-images.githubusercontent.com/38960595/101546385-fd2ff680-39a8-11eb-87c9-88c4793dc869.PNG)

Even check-install.py is not complaining
![superfine](https://u

[2020-12-08 22:39] diracdeltas commented on #52
most of those errors don't actually matter, but the "command failed" line means that max wasn't able to run the spleeter separate command from within node. i'm a little baffled given that it works on the command line.

just to clarify, are you running both spleeter and max as admin?

https://github.com/diracdeltas/spleeter4max/issues/8#issuecomment-713229985

[2020-12-08 23:09] tunonnaemiliana commented on #52
No I'm not.
Spleeter cli seems to be working fine when run as normal user and as admin.
I've tried doing like #7 said but spleeter-native yielded the same result. Spleeter cli worked fine too, thus I am not running spleeter as an admin anymore :/

[2020-12-09 01:17] diracdeltas commented on #52
i think there was some cases where you had to run spleeter.exe as admin for it to work in max, even if it works without admin on the command line.

could you try this:
1. in the spleeter-native folder, open spleeter.js in a text editor
2. replace [this line](https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/spleeter.js#L42) with `const cmd = 'spleeter -h'`
3. restart ableton

[2020-12-09 11:30] tunonnaemiliana commented on #52
makes sense :)
So i changed [that line](https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/spleeter.js#L42).
Max is now saying that it can't find the file
![weird](https://user-images.githubusercontent.com/38960595/101624348-2046be80-3a1a-11eb-8e09-b4481f22393a.PNG)
but spleeter seems to be working fine
![](https://user-images.githubusercontent.com/38960595/101624345-1fae2800

[2020-12-09 22:05] diracdeltas commented on #52
cool, so spleeter is indeed callable from Max.

where is the actual file you're trying to separate? in the first screenshot it's in Users/user/Downloads but in the error message it's looking in Documents.

what happens in the command prompt if you cd into the spleeter-native folder, and then run the exact command shown in https://user-images.githubusercontent.com/38960595/101546260-d40f6600-39a8-1

[2020-12-09 23:58] tunonnaemiliana commented on #52
god i feel so dumb.
Initially `spleeter separate -i "Tom Misch NPR Music Tiny Desk Concert [2020-12-10 003922].wav" -o npr2 -p spleeter:4stems-16kHz` wasn't giving any output.
I tried cutting the audio file and to my surprise it actually worked ![](https://user-images.githubusercontent.com/38960595/101702358-faa0d000-3a80-11eb-80de-bf20bf9c2566.PNG)

After reverting [that line](https://github.com/

[2020-12-10 00:01] tunonnaemiliana commented on #52
Still, are those errors supposed to be there?

[2020-12-10 01:12] diracdeltas commented on #52
@tunonnaemiliana awesome, glad it worked! yep, those other error messages are not actual errors.

[2020-12-10 01:12] #52 closed, assigned to nobody

[2020-12-10 14:51] tunonnaemiliana commented on #52
yeah, thanks for the help, I'm tipping 5$ on bandcamp :)
Keep it up!

[2021-01-29 12:18] Dan-after commented on #8
Hello everyone, was having trouble installing spleeter, i get a similar message error above. Initially I had tried a few steps and eventually got a bit further, but as I was making changes all the sudden typing in spleeter -h into the command prompt didn't give a response, it just glitches for a quick second. I'd like to try fixing this before going into the whole thing (i get the same spleeter.do

[2021-01-29 22:51] diracdeltas commented on #8
@Dan-after that sounds like an issue with your spleeter installation. could you post a screenshot of the terminal output?

[2021-01-30 00:59] Dan-after commented on #8
Diracdeltas, thanks for getting back to me! I posted the output steps for step 4 and took the terminal outputs

![image](https://user-images.githubusercontent.com/78212111/106341660-0f713700-626c-11eb-99ff-83f946ccb1ca.png)

![image](https://user-images.githubusercontent.com/78212111/106341709-3596d700-626c-11eb-8a31-2c03b2f568eb.png)

![image](https://user-images.githubusercontent.com/78212111/10

[2021-01-30 02:54] diracdeltas commented on #8
@Dan-after maybe try `pip install install numba==0.48.0` instead of .048.0

[2021-01-30 02:55] diracdeltas commented on #8
actually looks like numba eventually got installed. what happens if you do `pip install spleeter==1.5.3` again?

[2021-01-30 04:51] Dan-after commented on #8
Here are the screenshots!

![image](https://user-images.githubusercontent.com/78212111/106347486-df865b80-628c-11eb-9621-362fa6a66a2a.png)

![image](https://user-images.githubusercontent.com/78212111/106347490-e4e3a600-628c-11eb-8949-e783bb0a3a7b.png)

[2021-01-30 05:03] diracdeltas commented on #8
looks like that installed successfully. and `spleeter -h` still gives an error?

[2021-01-30 05:04] Dan-after commented on #8
Yup, whenever I type in spleeter -h another cmd prompt window will open and close very quickly and nothing appears in the original cmd prompt window

[2021-02-24 10:16] bytebraid opened #53 "Trivial update to spleeter2?"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Pull request provided with udpates to the js for the spleeter 2 invocation (arguments changed)

**Describe alternatives you've considered**
No alternatives needed, seems to work out of the box, unless theres a reason to hold back the version? Simplifies the install steps as dependencies are

[2021-04-06 18:09] #53 closed, assigned to nobody

[2021-06-20 22:53] cube-o-sphere opened #56 "Spleeter install seems to be trying to get an outdated version of tensorflow"
I'm trying to install Spleeter native on macOS. Installation has been going swimmingly, up until hitting this message:

ERROR: Could not find a version that satisfies the requirement tensorflow==2.3.0 (from spleeter) (from versions: 2.5.0rc0, 2.5.0rc1, 2.5.0rc2, 2.5.0rc3, 2.5.0)
ERROR: No matching distribution found for tensorflow==2.3.0

This is a blocker to full installation :(
Any workarounds I

[2021-06-20 22:54] cube-o-sphere commented on #56
Oh I donated today for this also! Since you said to mention it in the thread

[2021-06-21 04:24] diracdeltas commented on #56
Hi! What version of python are you using? `python3 --version` should say.

is your MacOS CPU recent enough to support AVX? #9

this looks similar to https://github.com/deezer/spleeter/issues/557

[2021-06-22 01:06] cube-o-sphere commented on #56
Thank you for your fast reply!

I'm using Python 3.9 as it turns out! Which I didn't catch until running that command. I had to unlink it and smooth sailing now. I didn't realize I needed to specify unlink python@3.9 rather than just unlink python3. Thank you :))

[2021-06-22 01:27] diracdeltas commented on #56
ah interesting. when i run `brew unlink python3` it shows `Unlinking /usr/local/Cellar/python@3.9/3.9.5... 24 symlinks removed` so i assumed it works for everyone. anyway glad it works now.

[2021-06-22 01:27] #56 closed, assigned to nobody

[2021-07-08 03:23] shaozj commented on #31
Try brew update first

[2021-07-25 22:30] Ariloum opened #57 "ImportError"
I've installed everything by manuals, check-install.py doesn't returns any errors,
but when I ran spleeter in console it results this:
ImportError: Could not find the DLL(s) 'msvcp140.dll or msvcp140_1.dll'. TensorFlow requires that these DLLs be installed in a directory that is named in your %PATH% environment variable. You may install these DLLs by downloading "Microsoft C++ Redistributable for

[2021-07-26 16:56] diracdeltas commented on #57
Seems to be a common tensorflow error. Have you tried https://stackoverflow.com/questions/60157335/cant-pip-install-tensorflow-msvcp140-1-dll-missing or https://stackoverflow.com/questions/50777013/tensorflow-importerror-could-not-find-msvcp140-dll/50777261 ?

[2021-08-02 11:02] Ariloum commented on #57
I figured it out, it was because my PATH contains python 3.8+, I changed path to 3.7.7 and that error is gone, but now I got another error (file attached).
[spleeter-error.txt](https://github.com/diracdeltas/spleeter4max/files/6916391/spleeter-error.txt)

[2021-08-02 18:25] diracdeltas commented on #57
are you using a GPU? it looks like this issue which has so far only been encountered on GPUs: https://github.com/deezer/spleeter/issues/316#issuecomment-712013108. i'd recommend leaving a comment there since it's an issue with the spleeter command line tool.

[2021-08-02 19:53] Ariloum commented on #57
how do I know what I'm using - gpu/cpu?
I just run it with this console command:
spleeter separate -o "C:\spleeter-native" -p spleeter:4stems-16kHz "g:\mp3\DUB\1\test.wav"

[2021-08-02 20:39] diracdeltas commented on #57
probably CPU then. i'd recommend filing an issue in https://github.com/deezer/spleeter/issues

[2021-08-03 09:29] Ariloum commented on #57
how can I check what exactly it tries to use? I don't see any load on my CPU or GPU with this spleeter launching at all. It just stuck for half hour or a hour and then drops that error.
I got "stronk" pc(Ryzen 3950x & 3080 gpu & 64gb mem) and also used TF with GPU on java with no issues before. seems like some python issue to me.

[2021-08-25 23:34] m9rco commented on #31
+1

[2021-10-31 15:48] songsta opened #58 "Spleeter 4 Max doesn't run on M1 Macs"
Hi

The m1 Macs don't have the AVX extensions, so Spleeter cannot be run on them. Is there any chance of getting this working on M1 Macs?

[2021-11-01 22:27] diracdeltas commented on #58
Thanks for pointing this out. This program just calls the spleeter python package, which currently doesn't support M1 because Tensorflow doesn't yet: https://github.com/deezer/spleeter/issues/607#issuecomment-828352392

There is a workaround here which I haven't tried: https://drive.google.com/drive/folders/1ioRr6-xRNizoR7xqWxXUdgjoijFOd2SC. If you get the spleeter command to work, then the max de

[2021-11-14 00:40] kpatdev commented on #58
Currently installing Tensorflow (and then Spleeter) using the workaround. I'll update the post on the status. Here's to hoping it works!

Edit:

Build lasted about ~3h and it errored out. I closed the terminal accidentally so now I have to re-run to see what the error was. Will update if I do eventually get it working or find the error.

Edit 2:

The error has to do with numpy (Executing genrule @

[2021-11-17 00:57] neuroticpg opened #59 "Error: Command failed: spleeter separate -o"
Not entirely sure how to fix this, hoping someone can help. I ran through the instructions to install spleeter on my Mac, and I got this error when hitting "start" in Ableton. attached a screenshot of the Max Console. Thanks for any help you can give.

 - Using spleeter-native
 - macOS: 10.14.6
 - Ableton version 10.1.42
 - Max version 8.2.1
 -
<img width="406" alt="Screen Shot 2021-11-16 at 5 43

[2021-12-05 02:30] AYAmusic commented on #58
any luck?

[2021-12-09 15:21] kpatdev commented on #58
Couldn't crack it. I tried a lot of different things, but I just couldn't get it to work. Ended up just hosting it on my remote server and using a web gui to get it done. Does the same thing, but it's annoying that it's not local and I have to have internet connection.

Oh well. This is something I can work with until Tensorflow is updated for Apple Silicon.

[2021-12-21 03:49] xy0 commented on #59
For what it's worth, which is likely nothing, I was able to get around this by moving the file from a network drive to a local folder.

[2021-12-22 15:35] AYAmusic commented on #58
What version of tensorflow are you using? 2.3 seems like the required
version and apple.developer is only showing 2.5 and 2.6?
https://developer.apple.com/metal/tensorflow-plugin/

On Wed, Dec 22, 2021 at 7:07 AM argsnd ***@***.***> wrote:

[2021-12-22 15:59] argsnd commented on #58
@AYAmusic https://github.com/deezer/spleeter/issues/696

[2021-12-25 07:56] diracdeltas commented on #59
Hi @neuroticpg this just means that the spleeter command line tool wasn't installed correctly. if you open Terminal and type `spleeter`, what do you get?

[2022-01-08 01:10] joao-bermal opened #60 "Spleeter issue"
**Describe the issue**
I've tried to run the spleeter but I got a big error. I have basically followed the tutorial, I've installed python 3.9, ffmpeg, the spleeter etc.

**Console screenshot**
![image](https://user-images.githubusercontent.com/37602245/148625412-a3988a8c-c754-4ed3-8a76-d24a548e31d1.png)

[2022-01-26 01:31] slyman928 opened #61 ""ffmpeg" has no attribute '_run'"
Used to work with python3.7, changed a bunch of my python doing ai things, stopped working. Been trying to get it working again, did all the updated stuff (python3.9, spleeter2.3). Can't get it going. it did one thing yesterday and I had an output but only "other.wav" and then an error, today i'm just getting the ffmpeg error. Error before was permission denied on the file, reinstalled spleeter an

[2022-01-26 02:03] slyman928 commented on #60
are you out of space on your hd?

[2022-01-26 02:15] diracdeltas commented on #61
hmm haven't seen that one. maybe try reinstalling ffmpeg using the instructions in https://github.com/diracdeltas/spleeter4max/wiki/Installing-ffmpeg-on-Windows? if you type `ffmpeg` in the command prompt, what is the output?

[2022-01-26 02:36] slyman928 commented on #61
ffmpeg worked normally when running in cmd. manually deleted ffmpeg and spleeter + the spleeter.exe script and reinstalled. now this
![Screenshot 2022-01-25 213508](https://user-images.githubusercontent.com/82778699/151094611-76c5967d-97ae-4dea-8543-b49ec49089d2.png)

stuck at that

[2022-01-26 02:48] diracdeltas commented on #61
it does look like the vocals.wav file was written successfully (does it actually exist) but ran out of memory?

[2022-01-26 03:01] slyman928 commented on #61
it existed. but just restarted and it all worked successfully. strange that i was getting that ffmpeg error, but yea, seems good. thanks for the help regardless.

[2022-01-26 03:03] slyman928 commented on #61
it existed. just restarted though and now it's done the bass and vocals and hangs here
![Screenshot 2022-01-25 220303](https://user-images.githubusercontent.com/82778699/151097097-c8fbe9b5-447f-475d-a21a-68ff44d7ed48.png)

this is what it was doing yesterday before i was getting the ffmpeg error. strange i was getting that in the first place but yea...

just tried running again and got the memory

[2022-01-26 05:15] diracdeltas commented on #61
32gb ram should be plenty. i wonder if just splitting the audio files in half or something will make the error occur less.

[2022-01-26 07:50] slyman928 commented on #61
that worked, figuring just since it was a wav file, and the original i tried recently was a flac. 128kbps mp3 worked fine

thanks for the help

[2022-01-26 18:01] #61 closed, assigned to diracdeltas

[2022-02-25 20:41] saturdaysage opened #62 "11 khz workaround for spleeter4max?"
As I saw listed on the main repository for spleeter, i see that there is a limit of 11khz range for the model. The wiki says there is a work around for the command line version.

I would like to see a workaround for the spleeter4max version as a producer it would be helpful.

Is there already a solution that i am missing?

Thanks !

<img width="1059" alt="Screen Shot 2022-02-25 at 2 40 49 PM" src=

[2022-02-25 21:02] diracdeltas commented on #62
the latest versions actually go up to 16khz

[2022-02-25 21:02] diracdeltas commented on #62
see https://github.com/diracdeltas/spleeter4max/blob/feature/native-spleeter/spleeter.js#L42

[2022-02-25 22:21] saturdaysage commented on #62
@diracdeltas awesome, i will try to reinstall and see what i get ! =) [1] 16khz is going to be the limit for now? and [2] does this apply to the docker version as well?

[2022-02-26 00:11] diracdeltas commented on #62
yep, latest versions of both docker and native spleeter are on 16khz.

[2022-02-26 00:11] #62 closed, assigned to nobody

[2022-02-27 07:23] quasimoju opened #63 "spleeter native issue"
**Did you read the installation instructions already?**
yes i did and went through all troubleshootings.

**Describe the issue**
After hitting start the msg shows this may take a minute but nothing happens.
The Installation went smooth and i had no errors and all commands are running ok in cmd. i checked the installation with the check-install.py file and i get no errors just the info Checking ins

[2022-02-27 19:21] diracdeltas commented on #63
it might just be taking a really long time... try converting the wav to mp3 first or a shorter file to see if it works at all. none of the errors you're showing should be fatal.

[2022-02-28 06:20] quasimoju commented on #63
i tried mp3s and just short loops but nothing happens :(

EDIT: oh it worked now i startet ableton in admin mode and that seems to work. wierd i already set spleeter as admin. but okay just need to start ableton also in admin mode :)

[2022-06-28 17:06] diracdeltas commented on #58
i saw comments reporting that spleeter is now working when you install it on m1 with these instructions: https://github.com/deezer/spleeter/issues/607#issuecomment-1146988749

[2022-11-28 20:57] dokteju commented on #59
I'm experiencing the same issue. When I type spleeter in the terminal it says command not found. How can I fix this ?